@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.logintitle{
    text-align: center;
    font-size: 120px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}


.login{
    background-image: url("../../../assets/login.jpg");
    width: 100%;
    height: 300px;
    padding-top: 140px;
    background-size: cover;
}

.field{
    font-size: 25px;
    margin-bottom: 0px;
}

.login2{
    text-align: center;
    padding-top: 15px;
}

.link{
    padding-top: 20px;
}